.card.small {
    height: 200px;
  }
  
  .card.small .card-image {
    max-height: 75%;
  }
  
  .card .card-content {
    padding: 18px;
  }
  
  .card.small .card-image + .card-content {
    max-height: 25%;
  }
  
  .card .card-title {
    font-size: 12px;
  }
  
  .card img {
    margin: auto;
    max-width: 140px;
    max-height: 140px;
  }
  